<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TravisDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>170F1BE61E9C7286002D6CAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>170F1BFA1E9C7286002D6CAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>170F1C051E9C7286002D6CAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
